.bestsellers {
  padding-top: 120px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.catalog-list a {
  display: flex;
  flex-direction: column;
  color: var(--main-font-color);
  text-decoration: none;
}

.catalog-item-title {
  font-size: inherit;
  font-weight: inherit;
  margin: 22px 0 6px 0;
  order: 1;
}

.catalog-item-price {
  order: 2;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
