/* Header */

.main-header {
  min-height: 65px;
}

.main-header-wrapper {
  display: flex;
}

.main-nav-list {
  margin: 0;
  padding: 25px 0;
  min-width: 400px;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
}

.main-nav-list li {
}

.main-nav-list a {
  text-decoration: none;
  color: var(--main-font-color);
}

.main-nav-logo {
  margin: 0 auto;
  padding: 25px 0 20px;
  width: 75px;
  height: 17px;
  display: block;
}

.user-nav-list {
  margin: 0;
  padding: 0;
  min-width: 400px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 32px;
}

.user-nav-list a {
  text-decoration: none;
}

.user-nav-list li:nth-child(1) a::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/Search.svg");
  background-repeat: no-repeat;
}

.user-nav-list li:nth-child(2) a::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url("../assets/bag.svg");
  background-repeat: no-repeat;
}
